.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 40px;
    background-color: #3B82F6;
    height: 60px;
}

#MS{
    color: white;
    font-size: 22px;
    font-weight: bold;
} 

.links a {
    color: white;
    font-size: 22px;
    margin-left: 30px;
}

.links a:hover{
    text-decoration: underline;
}

section {

    margin: 20px;
}

body {
    display: flex;
    flex-direction: column;
    /*me permite usar el align items*/

    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0F2FE;
}

.contactoFull {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 60 px;
    padding: 40 px;
    flex-wrap: wrap;

}

.infoNuestra {
    background-color: #b3d2ec;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 5);
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
}

.infoNuestra h1 {
    font-weight: bold;
    text-align: center;
}

.infoNuestra p {
    text-align: left;
    font-weight: bold;
    font-size: larger;

}

.infoNuestra div {
    text-align: right;
}

.infoUsuario {
    background-color: #b3d2ec;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 20);
    /*margin-left: 40px; lo saque asi queda alineado*/

}

.infoUsuario h1 {
    font-weight: bold;
    text-align: center;
}

.infoUsuario input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.error {
    color: rgb(255, 0, 0);
    font-size: 12px;
    font-style: italic;
}

button {
    align-self: center;
    background-color: black;
    border-style: hidden;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    font-size: medium;
    height: 50px;
    width: 150px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /*justify-content: space-between;
    /*margin: 10px;*/
    cursor: pointer;
}

form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    padding: 35px;
    width: 400px;
    margin: auto;
    gap: 10px;
    font-weight: bold;
    color: black;
}