.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #3B82F6;
    height: 60px;
}

#MS {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.links a {
    color: white;
    font-size: 22px;
    margin-left: 30px;
}

.links a:hover {
    text-decoration: underline;
}

h1 {
    color: black;
    font-weight: bold;
    margin: auto;
}

footer {
    bottom: 0;
    width: 99%;
    margin-top: 10px;

    font-size: larger;
    font-weight: bolder;
    
    background-color: #3B82F6;
    color: #E0F2FE;
    padding: 8px;

    display:flex;
    justify-content: space-between;
}

body {
    display: flex;
    flex-direction: column;
    /*me permite usar el align items*/

    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0F2FE;
}

.Totalproductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
}

#producto {
    width: 100%;
    max-width: 300px;
}

article {
    border-radius: 10px;
    box-shadow: 0px 0px 2px #3B82F6;
    min-width: 100px;
    max-width: 250px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
    /* agranda un poco */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    /* sombra más fuerte */
}

#img {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    /*no se achica la imagen*/
}

img {
    display: flex;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}