.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

    background-color: #3B82F6;
    flex-wrap: wrap;
}


#MS img {
    width: auto;
    height: 150px;
}

.iconitos {
    width: 120px;
    height: auto;
    margin: 0;
    padding: 0;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    color: white;
    font-size: 22px;
    margin-right: 15px;
    text-decoration: none;

    display: flex;
    align-items: center;
}

.links a:hover {
    text-decoration: underline;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
}

footer {
    bottom: 0;
    width: 99%;
    margin-top: 10px;

    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;

    background-color: #3B82F6;
    color: #E0F2FE;
    padding: 8px;

    display: flex;
    justify-content: space-between;
}

section {
    margin: 20px;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0F2FE;
}

.contactoFull {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 60 px;
    padding: 40 px;
    flex-wrap: wrap;

}

.infoNuestra {
    background-color: #b3d2ec;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 5);
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
}

.infoNuestra h1,
.infoUsuario h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

.infoNuestra p {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: bold;
    font-size: larger;

}

.infoNuestra div {
    text-align: right;
}

.infoUsuario {
    background-color: #b3d2ec;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 20);
}

.infoUsuario input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.infoUsuario label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.error {
    color: rgb(255, 0, 0);
    font-size: 12px;
    font-style: italic;
}

button {
    align-self: center;
    background-color: black;
    border-style: hidden;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    font-size: medium;
    height: 50px;
    width: 150px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    cursor: pointer;

}

button:hover {
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
}

form {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    padding: 35px;
    width: 400px;
    margin: auto;
    gap: 10px;
    font-weight: bold;
    color: black;
}