.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

    background-color: #3B82F6;
    flex-wrap: wrap;
}


#MS img {
    width: auto;
    height: 150px;
}

.iconitos {
    width: 120px;
    height: auto;
    margin: 0;
    padding: 0;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    color: white;
    font-size: 22px;
    margin-right: 15px;
    text-decoration: none;

    display: flex;
    align-items: center;
}

.links a:hover {
    text-decoration: underline;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
}

footer {
    position: fixed;
    bottom: 0;
    width: 99%;
    margin-top: 10px;

    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;

    background-color: #3B82F6;
    color: #E0F2FE;
    padding: 8px;

    display: flex;
    justify-content: space-between;
}


body {
    display: flex;
    flex-direction: column;

    margin: 0px;
    padding: 0px;
    background-color: #E0F2FE;
}

button {
    background-color: black;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    height: 40px;
    width: 120px;
    margin-top: 30px;
    font-size: 30px;
    cursor: pointer;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #1E3A8A;
    font-weight: lighter;
}

h3 {
    font-style: oblique;
    text-decoration: underline;
}

div {
    display: flex;
    justify-content: space-around;
}

span{
    text-align: justify;
    font-size: 18px;
}

.carrusel {
    width: 50%;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, nimax(250px, 1fr));
    gap: 15px;
}

#imagenEspecial {
    width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 20px;
}

#imagenEspecial {
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

#imagenEspecial:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}