.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 40px;
    background-color: #3B82F6;
    height: 60px;
}

#MS {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.links a {
    color: white;
    font-size: 22px;
    margin-left: 30px;
    text-decoration: none;
    display: inline-block;
}

.links a:hover {
    text-decoration: underline;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
}

h1 {
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40PX;
    margin: auto;
    margin-top: 15px;
}

footer {
    bottom: 0;
    width: 99%;
    margin-top: 10px;

    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    background-color: #3B82F6;
    color: #E0F2FE;
    padding: 8px;

    display: flex;
    justify-content: space-between;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0F2FE;
}

.Totalproductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
}

#producto {
    width: 100%;
    max-width: 300px;
}

article {
    background-color: #b3d2ec;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #3B82F6;
    min-width: 100px;
    max-width: 250px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article h2 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
}

article p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

img {
    display: flex;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}