.menu {
    margin: auto;
    text-align: end;
    padding-top: 20px;

    background-color: #3B82F6;
    border-radius: 15px;

    font-size: 20px;
    gap: 50px;
    margin-bottom: 20px;
    height: 50px;
}

a {
    margin: 20px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    /*me permite usar el align items*/

    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0F2FE;
}

h2 {
    text-align: center;
    margin: 0px;
}

p {
    text-align: justify;
    margin: 0px;
}

div {
    display: flex;
    justify-content: space-around;
}

div #Info {
    font-size: medium;
    color: #1E3A8A;

    flex-direction: column;
}

#carru {
    justify-content: space-evenly;
}

button {
    background-color: black;
    border-style: hidden;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    font-size: medium;
    height: 40px;
    width: 120px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /*justify-content: space-between;
    /*margin: 10px;*/
    cursor: pointer;
}



.Carrusel {
    display: flex;
    /*para que pueda moverse en sentido horizontal va por defecto */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /*como que se encaja cuando moves para izquierda o derecha*/

    gap: 8px;
    padding: 10px;
    background-color: #1E3A8A;
}




/*Paleta de colores- gama de azules  #3B82F6  #60A5FA  #1E3A8A  #E0F2FE */