body {
    display: flex;
    /*me permite usar el align items*/
    justify-content: center;

    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0F2FE;
}

h1 {
    color: #1E3A8A;
    font-weight: bold;
}

form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    padding: 35px;
    width: 400px;
    margin: 80px auto;
    gap: 10px;
}

select {
    border-style: hidden;
    background: transparent;
    border-bottom: 2px rgb(0, 47, 255) solid;

}

div {
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
    border-style: hidden;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    font-size: medium;
    height: 20px;
    width: 60px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*justify-content: space-between;
    /*margin: 10px;*/
    cursor: pointer;
}

Totalproductos {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

produto {}

carrusel {
    display: flex;
    /*para que pueda moverse en sentido horizontal va por defecto */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /*como que se encaja cuando moves para izquierda o derecha*/

    gap: 8px;
    padding: 10px;
    background-color: #1E3A8A;


}

carrusel img {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    /*no se achica la imagen*/
}

/*Paleta de colores- gama de azules  #3B82F6  #60A5FA  #1E3A8A  #E0F2FE */