body {
    display: flex;
    flex-direction: column;
    /*me permite usar el align items*/


    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0F2FE;
}

.menu {
    margin-top: 10px;
    margin-left: 10px;

    color: #3B82F6;
}

main {}

h1 {
    color: #3B82F6;
    font-weight: bold;

    margin: auto;
}

h2 {
    text-align: center;
    margin: 0px;
}

p {
    text-align: justify;
    margin: 0px;
}

form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    padding: 35px;
    width: 400px;
    margin: auto;
    gap: 10px;
    font-weight: bold;
    color: #3B82F6;
}

select {
    border-style: hidden;
    background: transparent;
    border-bottom: 2px #3B82F6 solid;
    color: #3B82F6;
    text-align: right;
}

div {
    display: flex;
    justify-content: space-around;
}

#carru {
    justify-content: space-evenly;
}

img {
    border-radius: 10px;
}

button {
    background-color: #3B82F6;
    border-style: hidden;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    font-size: medium;
    height: 40px;
    width: 120px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /*justify-content: space-between;
    /*margin: 10px;*/
    cursor: pointer;
}

.Totalproductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

article {
    border-radius: 10px;
    box-shadow: 0px 0px 2px #3B82F6;
    min-width: 100px;
    max-width: 250px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
    /* agranda un poco */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    /* sombra más fuerte */
}


.Carrusel {
    display: flex;
    /*para que pueda moverse en sentido horizontal va por defecto */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /*como que se encaja cuando moves para izquierda o derecha*/

    gap: 8px;
    padding: 10px;
    background-color: #1E3A8A;


}


#img {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    /*no se achica la imagen*/
}

/*Paleta de colores- gama de azules  #3B82F6  #60A5FA  #1E3A8A  #E0F2FE */